services:

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 10
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: kitchen
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - kitchen-network

  nginx:
    image: nginx:latest
    container_name: nginx-reverse-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - kitchen-api
      - kitchen-history
      - kitchen-monitoring
      - kitchen-web
    networks:
      - kitchen-network

  kitchen-api:
    build:
      context: ./kitchen-backend
      dockerfile: Dockerfile
    container_name: kitchen-api
    depends_on:
      elasticsearch:
        condition: service_healthy
      mysql:
        condition: service_healthy
      localstack:
        condition: service_started
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/kitchen?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      APP_BASE_URL: http://localhost
      SQS_ENDPOINT: http://localstack:4566
      SNS_ENDPOINT: http://localstack:4566
    networks:
      - kitchen-network

  kitchen-history:
    build:
      context: ./kitchen-history
      dockerfile: Dockerfile
    container_name: kitchen-history
    depends_on:
      mysql:
        condition: service_healthy
      localstack:
        condition: service_started
    networks:
      - kitchen-network

  kitchen-monitoring:
    build:
      context: ./kitchen-order-monitoring
      dockerfile: Dockerfile
    container_name: kitchen-monitoring
    depends_on:
      localstack:
        condition: service_started
    networks:
      - kitchen-network

  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    logging:
      driver: "none"
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sqs,sns,lambda,dynamodb
      - DEBUG=0
      - PERSISTENCE=1
      - AWS_DEFAULT_REGION=us-east-1
      - LAMBDA_EXECUTOR=docker
    volumes:
      - "./.localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - ./localstack/init-resources.sh:/etc/localstack/init/ready.d/init-resources.sh
      - ./order-lambda/target/order-lambda-1.0-SNAPSHOT.jar:/tmp/order-lambda.jar
      - ./stock-lambda/target/stock-lambda-1.0-SNAPSHOT.jar:/tmp/stock-lambda.jar
      - ./payment-lambda/target/payment-lambda-1.0-SNAPSHOT.jar:/tmp/payment-lambda.jar
    networks:
      - kitchen-network

  stock-lambda:
    build: ./stock-lambda
    image: stock-lambda:latest
    container_name: stock-lambda
    networks:
      - kitchen-network
    depends_on:
      - localstack

  order-lambda:
    build: ./order-lambda
    image: order-lambda:latest
    container_name: order-lambda
    networks:
      - kitchen-network
    depends_on:
      - localstack

  payment-lambda:
    build: ./payment-lambda
    image: payment-lambda:latest
    container_name: payment-lambda
    networks:
      - kitchen-network
    depends_on:
      - localstack

  kitchen-web:
    build:
      context: ./kitchen-web
      dockerfile: Dockerfile
    container_name: kitchen-web
    volumes:
      - ./kitchen-web:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm run start:public
    networks:
      - kitchen-network

  redis:
    image: redis:7.2
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - kitchen-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.license.self_generated.type=basic
      - xpack.security.transport.ssl.enabled=false
      - xpack.ml.enabled=false
      - xpack.monitoring.collection.enabled=false
      - cluster.name=kitchen-cluster
      - node.name=es01
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    mem_limit: 3g 
    ports:
      - "9200:9200"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200/_cluster/health || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 5
    networks:
      - kitchen-network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.0
    container_name: kibana
    depends_on:
      elasticsearch:
        condition: service_healthy
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - SERVER_NAME=kibana
      - SERVER_PUBLICBASEURL=http://localhost:5601
      - TELEMETRY_ENABLED=false
      - MONITORING_ENABLED=false
    ports:
      - "5601:5601"
    networks:
      - kitchen-network

networks:
  kitchen-network:
    driver: bridge

volumes:
  mysql_data:
  node_modules:
  redis_data:
  esdata:
    driver: local