<h1>Lista de Pedidos</h1>
<app-order-search (search)="onSearch($event)"></app-order-search>
<div *ngIf="orders.length > 0" class="item-container">
  <div *ngFor="let order of orders" class="item-card">
    <div class="item-details">
      <p class="item-id">Pedido #{{ order.id }} - {{ order.creation | formatDateTime }}</p>
      <p class="item-total">Total do pedido: <span class="highlight"><strong>R$ {{ order.total | currencyFormatter }}</strong></span></p>
      <p class="item-status">Status do pedido: <span class="status">{{ order.status }}</span></p>
      <p class="item-status">Forma de pagamento: {{ order.payment!.method }}</p>
      <p class="item-status">Status do pagamento: <span class="status">{{ order.payment!.status }}</span></p>
      <p class="item-status">Data de pagamento: {{ order.payment!.createdAt | formatDateTime }}</p>
      <button class="view-button" (click)="openModal(order)">Ver detalhes</button>
    </div>
  </div>
</div>
<div *ngIf="orders.length == 0" class="no-item">
  <h1>Nenhum pedido cadastrado</h1>
</div>

<div class="modal-backdrop" *ngIf="selectedOrder">
  <div class="modal">
    <div class="modal-header">
      <h3>Detalhes do Pedido #{{ selectedOrder.id }}</h3>
      <button class="close-button" (click)="closeModal()">×</button>
    </div>

    <div class="modal-content">
      <div style="display:flex;justify-content:space-between;">
        <p><strong>Data:</strong> {{ selectedOrder.creation | formatDateTime }}</p>
        <p><strong>Status:</strong> {{ selectedOrder.status }}</p>
      </div>
      <hr>

      <p><strong>Itens por Loja:</strong></p>

      <div *ngFor="let group of groupedItems">
        <h4>{{ group.storeName }}</h4>
        <ul>
          <li *ngFor="let item of group.items" class="item-order">
            {{ item.product.name }}<br>
            Quantidade: {{ item.quantity }}x
            Valor Unit: R$ {{ item.product.price | currencyFormatter }}
            –
            Sub-Total: R$ {{ item.product.price * item.quantity | currencyFormatter }}
          </li>
        </ul>
      </div>
    </div>

    <hr>
    <p style="text-align:right;">
      <strong>Total:</strong>
      R$ {{ selectedOrder.total | currencyFormatter }}
    </p>
  </div>
</div>

