.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #004080;
  color: white;
  padding: 0.5rem 1rem;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-row > div {
  display: flex;
  height: 2.6rem;
  width: 30rem;
}

.left-column {
  align-items: center;
  gap: 1rem;
}

.middle-column {
  margin-bottom: 0px !important;
  padding-top: 10px;
}

.right-column{ 
  justify-content: end;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.search-field{
  width: 100%;
}

.go-home {
  font-weight: bold;
  font-size: 12px;
  color: white !important;
  text-decoration: none;
}

.bell {
  overflow: revert !important;
}

.notification-bell{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 0.3rem;
}

.notification-item {
  display: flex;
  align-items: flex-start;
  min-height: 64px;
  padding: 10px 16px;
  width: 25rem;
}

.notification-icon {
  font-size: 22px;
  margin-top: 4px;
}

.notification-content {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap:5px;
}

.notification-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notification-title-label {
  font-weight: 600;
  font-size: 11px;
}

.notification-title-time {
  font-size: 11px;
  font-weight: 500;
  color: #888;
}

.notification-message {
  font-size: 15px;
  color: #555;
}

.badge {
  color: white;
  font-size: 10px;
  text-align: center;
  padding-left: 5px;
  width: 4rem;
}

@keyframes bell-shake {
  0%   { transform: rotate(0); }
  15%  { transform: rotate(15deg); }
  30%  { transform: rotate(-15deg); }
  45%  { transform: rotate(10deg); }
  60%  { transform: rotate(-10deg); }
  75%  { transform: rotate(5deg); }
  100% { transform: rotate(0); }
}

.shake {
  animation: bell-shake 0.6s ease-in-out;
}