.product-list-wrapper {
  margin-bottom: 2.5rem;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1.5rem;
  width: 75rem;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
}

.product-list-title {
  font-size: 2rem;
  color: #004080;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 3px solid #0056b3;
  padding-bottom: 0.75rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: left;

  width: 100%;
}

.product-card {
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 200px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

.product-name{
  font-size: 0.75rem;
  font-weight: 600;
}
.product-description{
  font-size: 0.7rem;
  font-weight: 400;
}
.product-price{
  font-weight: 600;
  color: #0056b3;
}


.scroll-anchor {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: transparent;
}

.loading-spinner {
  text-align: center;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  color: #555;
}

@media (max-width: 992px) {
  .product-list {
    gap: 1.5rem;
  }
  .product-card {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .product-list-title {
    font-size: 1.75rem;
  }
  .product-card {
    width: 180px;
    padding: 1rem;
  }
  .product-image {
    height: 120px;
  }
  .product-name {
    font-size: 1.1rem;
  }
  .product-price {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .product-list {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .product-card {
    width: 90%;
  }
  .product-list-wrapper {
    padding: 1rem;
  }
}