<div class="product-list-wrapper">
  <h2 class="product-list-title">{{ catalog?.slug }}</h2>

  <div class="product-list">
    <div *ngFor="let product of products" class="product-card" (click)="viewDetails(product)">
      <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image" />
      <div class="product-name">{{ product.name }}</div>
      <div class="product-description">{{ product.description }}</div>
      <div class="product-price">{{ product.price | currency:'BRL' }}</div>
    </div>
  </div>

  <div #anchor class="scroll-anchor"></div>

  <div *ngIf="loading" class="loading-spinner">
    Carregando...
  </div>
</div>
