<div class="coupon-container">
    <h3>{{ isEditing ? 'Editar Cupom' : 'Criar Novo Cupom' }}</h3>
  
    <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <div class="form-group">
          <label for="code">Código</label>
          <input
            id="code"
            type="text"
            formControlName="code"
            required
            placeholder="Ex: NATAL2025"
          />
        </div>
  
        <div class="form-group">
          <label for="type">Tipo</label>
          <select
            id="type"
            formControlName="couponType"
            required
          >
            <option value="PERCENTUAL">Percentual</option>
            <option value="FIXED">Valor Fixo</option>
          </select>
        </div>
 
        <div class="form-group">
          <label for="visibility">Visibilidade</label>
          <select
            id="visibility"
            formControlName="visibility"
            required
          >
            <option value="PUBLIC">Público</option>
            <option value="PRIVATE">Privado</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="scope">Escopo</label>
          <select
            id="scope"
            formControlName="scope"
            required
          >
            <option value="SELLER">Seller</option>
            <option value="GLOBAL">Marketplace</option>
          </select>
        </div>
      </div>

      <div class="form-grid">
        <div class="form-group">
          <label for="amount">Valor</label>
          <app-currency-input 
            id="amount"
            formControlName="amount"
            placeholder="0.00"
            class="input-price">
          </app-currency-input> 
        </div>
  
        <div class="form-group">
          <label for="minOrderAmount">Valor mínimo do pedido</label>
          <app-currency-input 
            id="minOrderAmount"
            formControlName="minOrderAmount"
            placeholder="Ex: 100.00"
            class="input-price">
          </app-currency-input> 
        </div>
  
        <div class="form-group">
          <label for="maxDiscountAmount">Desconto máximo</label>
          <app-currency-input 
            id="maxDiscountAmount"
            formControlName="maxDiscountAmount"
            placeholder="Ex: 50.00"
            class="input-price">
          </app-currency-input> 
        </div>
  
        <div class="form-group">
          <label for="usageLimitTotal">Limite total de uso por usuário</label>
          <input
            id="usageLimitTotal"
            type="number"
            formControlName="usageLimitTotal"
            placeholder="Ex: 5"
          />
        </div>
  
      </div>

      <div class="form-grid">
        <div class="form-group">
          <label for="usageCountTotal">Limite total de uso geral</label>
          <input
            id="usageCountTotal"
            type="number"
            formControlName="usageCountTotal"
            placeholder="Ex: 1000"
          />
        </div>

        <div class="form-group">
          <label for="startsAt">Início</label>
          <input
            id="startsAt"
            type="datetime-local"
            formControlName="startsAt"
          />
        </div>
  
        <div class="form-group">
          <label for="expiresAt">Expira em</label>
          <input
            id="expiresAt"
            type="datetime-local"
            formControlName="expiresAt"
          />
        </div>
      </div>
  
      <div class="form-actions">
        <button type="submit" [disabled]="couponForm.invalid" class="btn-primary">
          {{ isEditing ? 'Atualizar' : 'Criar' }}
        </button>
        <button type="button" (click)="cancel()" class="btn-secondary">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  