<div class="modal-backdrop">
    <div class="modal">
      <button (click)="close.emit()" class="close-button">×</button>
      
      <h2>{{ product.name }}</h2>
      <div style="display: flex; flex-direction: row; width: 100%;">
        <span style="flex:1">
          <p>{{ product.description }}</p>
          <p>Categoria: {{ product.category }}</p>
          <p>Catálogo: {{ product.catalog }}</p>
          <p>Preço base: R$ {{ product.price | currencyFormatter }}</p>
          <p>Status: {{ product.active ? 'Ativo' : 'Inativo' }}</p>
        </span>
        <span>
          <img [src]="product.imageUrl" [alt]="product.name" width="200px">
        </span>
      </div>
  
      <h3>SKUs</h3>
      <table class="table-details" *ngIf="product.skus?.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>SKU</th>
            <th>Preço</th>
            <th>Atributos</th>
            <th>Estoque</th>
            <th>Histórico</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let sku of product.skus">
            <tr>
              <td>{{ sku.id }}</td>
              <td>{{ sku.sku }}</td>
              <td>R$ {{ sku.price | currencyFormatter }}</td>
              <td>
                <ul>
                  <li *ngFor="let attr of sku.attributes">
                    {{ attr.attributeName }}: {{ attr.attributeValue }}
                  </li>
                </ul>
              </td>
              <td>Disponível: {{ sku.stock.availableQuantity }}</td>
              <td>
                <button (click)="sku.expanded = !sku.expanded" *ngIf="sku.stockHistory !== null">
                  {{ sku.expanded ? '▲ Esconder' : '▼ Ver histórico' }}
                </button>
                <span *ngIf="sku.stockHistory === null"> Sem Movimentação </span>
              </td>
            </tr>

            <tr *ngIf="sku.expanded">
              <td colspan="6">
                <table class="table-details nested" *ngIf="sku.stockHistory !== null">
                  <thead>
                    <tr>
                      <th>Data</th>
                      <th>Ação</th>
                      <th>Qtd. Original</th>
                      <th>Qtd. reservada</th>
                      <th>Qtd. vendida</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let hst of sku.stockHistory">
                      <td center>{{ hst.createdAt | formatDateTime}}</td>
                      <td>{{ hst.eventType | stockStatus }}</td>
                      <td>{{ hst.totalQuantity }}</td>
                      <td>{{ hst.reservedQuantity }}</td>
                      <td>{{ hst.soldQuantity}}</td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="!sku.stockHistory?.length">Nenhum histórico até o momento.</p>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      
    </div>
  </div>
  