<div class="modal-backdrop">
    <div class="modal">
      <button (click)="close.emit()" class="close-button">×</button>
      
      <h2>{{ product.name }}</h2>
      <div style="display: flex; flex-direction: row; width: 100%;">
        <span style="flex:1">
          <p>{{ product.description }}</p>
          <p>Categoria: {{ product.category }}</p>
          <p>Catálogo: {{ product.catalog }}</p>
          <p>Preço base: R$ {{ product.price | currencyFormatter }}</p>
          <p>Status: {{ product.active ? 'Ativo' : 'Inativo' }}</p>
        </span>
        <span>
          <img [src]="product.imageUrl" [alt]="product.name" width="200px">
        </span>
      </div>
  
      <h3>SKUs</h3>
      <table class="sku-table" *ngIf="product.skus?.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>SKU</th>
            <th>Preço</th>
            <th>Atributos</th>
            <th>Estoque</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sku of product.skus">
            <td>{{ sku.id }}</td>
            <td>{{ sku.sku }}</td>
            <td>R$ {{ sku.price | currencyFormatter }}</td>
            <td>
              <ul>
                <li *ngFor="let attr of sku.attributes">
                  {{ attr.name }}: {{ attr.attributeValue }}
                </li>
              </ul>
            </td>
            <td>
              Disponível: {{ sku.stock.availableQuantity }}
            </td>
          </tr>
        </tbody>
      </table>
  
      <div *ngIf="!product.skus?.length">
        <p>Nenhum SKU cadastrado.</p>
      </div>
    </div>
  </div>
  