<div class="modal-backdrop">
  <div class="modal">
    
    <button (click)="close.emit()" class="close-button">×</button>

    <h2>{{ product.name }}</h2>

    <div class="header">
      <div class="info">
        <p>{{ product.description }}</p>
        <p>Categoria: {{ product.category }}</p>
        <p>Catálogo: {{ product.catalog }}</p>
        <p>Preço base: R$ {{ product.price | currencyFormatter }}</p>
        <p>Status: {{ product.productStatus }}</p>
      </div>

      <div class="image">
        <img [src]="product.imageUrl" [alt]="product!.name" width="200">
      </div>
    </div>

    <h3>SKUs</h3>

    <table class="table-details" *ngIf="product.skus!.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>SKU</th>
          <th>Preço</th>
          <th>Atributos</th>
          <th>Estoque</th>
          <th>Histórico</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let sku of product.skus">
          
          <tr>
            <td>{{ sku.id }}</td>
            <td>{{ sku.sku }}</td>
            <td>R$ {{ sku.price | currencyFormatter }}</td>

            <td>
              <ul>
                <li *ngFor="let attr of sku.attributes">
                  {{ attr.attributeName }}: {{ attr.attributeValue }}
                </li>
              </ul>
            </td>

            <td>Disponível: {{ sku.stock.availableQuantity }}</td>

            <td class="history-cell">
              <ng-container *ngIf="sku.stockHistory === null">
                <span>Sem Movimentação</span>
              </ng-container>
              <ng-container *ngIf="sku.stockHistory && sku.stockHistory.length === 0">
                <span>Sem Movimentação</span>
              </ng-container>
              <ng-container *ngIf="sku.stockHistory && sku.stockHistory.length > 0">
                <button (click)="toggleHistory(sku)">
                  {{ sku.expanded ? '▲ Esconder' : '▼ Ver histórico' }}
                </button>
              </ng-container>

            </td>
          </tr>

          <tr *ngIf="sku.expanded && sku.stockHistory && sku.stockHistory.length > 0">
            <td colspan="6">
              <table class="table-details nested">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Ação</th>
                    <th>Total</th>
                    <th>Reservado</th>
                    <th>Vendido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let h of sku.stockHistory">
                    <td>{{ h.createdAt | formatDateTime }}</td>
                    <td>{{ h.eventType | stockStatus }}</td>
                    <td>{{ h.totalQuantity }}</td>
                    <td>{{ h.reservedQuantity }}</td>
                    <td>{{ h.soldQuantity }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

        </ng-container>
      </tbody>
    </table>

  </div>
</div>