:host {
  display: block;
  min-height: 100vh;
  background-image: url('/assets/images/background-login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Arial', sans-serif;
}

.login-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  padding: 14% 14% 0% 0%;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-sizing: border-box;
}

app-password-input { width: 100%; }

button {
  width: 100%;
  background-color: #004080;
  color: white;
  font-size: 1rem;
}
button:hover { background-color: #0059b3; }

h2 { margin-bottom: 1rem; font-size: 1.5rem; color: #333; }
