.password-input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .password-input > input {
    width: 100%;
    transition: border-color 0.3s ease;
  }
  
  .password-input > input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .password-toggle-button {
    position: absolute;
    right: 5px;
    top: 35%;
    transform: translateY(-50%);
    background: none;
    outline: none;
    margin: 0;
    font-size: 1rem;
    color: #555;
    width: 35px !important;
    z-index: 10;
  }
  
  .password-toggle-button:hover {
    color: #333;
  }