<div class="title-page">
  <h1>Lista de Produtos</h1>

  <div class="toolbar">
    <button type="button" (click)="onAdd()" class="confirm-button">Adicionar Produto</button>
  </div>
</div>

<app-generic-table
  [data]="products"
  [loading]="loading"
  [columns]="columns"
  [page]="page"
  [pageSize]="size"
  [totalItems]="totalItems"
  [sortField]="sortField"
  [sortDir]="sortDir"
  (paginate)="onPaginate($event)"
  (sortChange)="onSort($event)"
  (remove)="onRemove($event)"
  (view)="onView($event)">
</app-generic-table>