mat-sidenav-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 999;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1005;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  transition: margin-left 0.3s ease;
  will-change: margin-left;
}

mat-sidenav {
  width: 240px;
  background-color: #003366;
  color: white;
  padding-top: 1rem;
  border-right: 1px solid #002850;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 998;
}

mat-sidenav.collapsed {
  width: 64px;
}

.content-shifted {
  margin-left: 240px;
}

@media (max-width: 768px) {
  .content-shifted,
  .content-collapsed {
    margin-left: 0 !important;
  }
}