<div class="main-container">
  <div class="main">
    <div class="main-header">
      <h2>Pedido finalizado com sucesso!</h2>
    </div>
    <div class="order-tracking" *ngIf="order; else loading">
      <h2>Detalhes do pedido</h2>
      <p class="order-status">Número do Pedido: #{{ order.id }}</p>
      <p class="order-status">Status do pedido: {{ order.status }}</p>
      <p>{{statusMessage}}</p>

      <p>Tipo de pagamento: {{order.payment!.method}} </p>
      <p>Status do pagamento: {{order.payment!.status}} </p>
      <p>Detalhes:</p>
      <ul class="order-details">
        <li *ngFor="let item of order.items">
          {{ item.quantity }}x {{ item.productName }} ({{item.sku}})
        </li>
      </ul>
      <p>Total: <strong> {{order.total | currencyFormatter }} </strong></p>
    </div>
      <ng-template #loading>
        <p class="loading-tracking"><i class="fa-solid fa-hourglass-start"></i>Carregando informações do pedido...</p>
      </ng-template>
  </div>
</div>