<div class="title-page">
    <h1>Lista de Produtos</h1>
    <button 
        aria-label="Adicionar Produto"
        title="Adicionar Produto"
        (click)="add.emit()" 
        class="view-button">Adicionar Produto
    </button>
</div>

<table *ngIf="products.length > 0" class="product-table">
  <thead>
    <tr>
      <th (click)="sortBy('id')">ID</th>
      <th (click)="sortBy('name')">Nome</th>
      <th (click)="sortBy('description')">Descrição</th>
      <th (click)="sortBy('catalog')">Catálogo</th>
      <th (click)="sortBy('category')">Categoria</th>
      <th (click)="sortBy('price')">Preço</th>
      <th (click)="sortBy('active')">Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of paginatedProducts">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.catalog }}</td>
      <td>{{ product.category }}</td>
      <td>R$ {{ product.price | number: '1.2-2' }}</td>
      <td>{{ product.active ? 'Ativo' : 'Inativo' }}</td>
      <td>
        <button title="Detalhar Produto"
            (click)="detail.emit(product)" 
            aria-label="Detalhar Produto">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button 
            (click)="remove.emit(product.id!)" 
            aria-label="Excluir Produto"
            title="Excluir Produto">
            <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination" *ngIf="totalPages > 1">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>

    <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
        <button (click)="goToPage(i + 1)" [class.active]="currentPage === i + 1">
        {{ i + 1 }}
        </button>
    </ng-container>

    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Próxima</button>
</div>

<div *ngIf="products.length === 0" class="no-item">
  <h2>Nenhum produto cadastrado</h2>
</div>
