<button class="btn-back" (click)="goBack()">&#8592; Voltar</button>
<div class="cart-container">
  <h2>Meu Carrinho de Compras</h2>
  <div *ngIf="cartItems.length === 0" class="empty-cart">
    <p>O seu carrinho está vazio.</p>
  </div>

  <div *ngIf="cartItems.length > 0">
    <div class="cart-item-list">
      <div *ngFor="let item of cartItems" class="cart-item">
        <div class="item-details">
          <span class="item-name">{{ item.product.name }}</span>
          <span class="item-quantity">x {{ item.quantity }}</span>
          <span class="item-price">R$ {{ item.value | currencyFormatter}}</span>
          <span class="item-subTotal">R$ {{ (item.value * item.quantity) | currencyFormatter}}</span>
        </div>
        <button class="remove-btn" (click)="onRemoveItem(item.id!)">Remover</button>
      </div>
    </div>

    <div class="cart-summary">
      <h3>Total: R$ {{ cartTotal | currencyFormatter }}</h3>
      <button class="clear-btn" (click)="onClearCart()">Limpar Carrinho</button>
    </div>
  </div>
</div>
